# X552 - Introdução a Programação com Python

Prof. Erneson Alves de Oliveira<br>
MBA em Ciência de Dados<br>
Universidade de Fortaleza

# 1 Entrada e saída

## 1.1 Saída

In [ ]:
with open('teste.txt', 'w') as arquivo:
    arquivo.write('a b\n')
    arquivo.write('c d')

## 1.2 Entrada

In [ ]:
with open('teste.txt', 'r') as arquivo:
  for i, linha in enumerate(arquivo):
    campo = linha.split()
    print(i, campo[0], campo[1])

### 1.2.1 Usando o gdown

In [ ]:
!gdown 1iT8JPeV2K_Ps-a-CiytX5Ff5QG2qZq9s

In [ ]:
with open('teste.txt', 'r') as arquivo:
    for i, linha in enumerate(arquivo):
        campo = linha.split()
        print(i, campo[0], campo[1])

## 1.3 Entrada e saída (Google Drive)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### 1.3.1 Saída

In [ ]:
caminho = '/content/drive/MyDrive/Cadeiras/MBA_DATASCIENCE/X552_IaPcP/aulas/a02/resultados/'

with open(caminho + 'teste.txt', 'w') as f:
  f.write('e f\n')
  f.write('g h')

### 1.3.2 Entrada

In [ ]:
with open(caminho + 'teste.txt', 'r') as arquivo:
    for linha in arquivo:
        campo = linha.split()
        print(campo[0], campo[1])

# 2. Introdução ao Pandas

![picture](https://drive.google.com/thumbnail?id=1eQPf7oMPHElSHCv9w-BpBEr8jpNTFniS&sz=w600)

https://pandas.pydata.org

## 2.1 O que é Pandas?

Pandas é um módulo para manipulação de tabelas (planilhas).

![picture](https://drive.google.com/thumbnail?id=1yFMQGto3RTkRFQxx9wX7TGEO1Pni9OJY&sz=w400)

## 2.2 Séries

![picture](https://drive.google.com/thumbnail?id=1krgr7CPvTyzA_GBciqvocWZWx-A8h3f7&sz=w300)

In [ ]:
import pandas as pd
import numpy as np

apples = [3, 2, 0, 1]
s = pd.Series(apples,
              name = 'apples',
              dtype = np.int64)

print(s)
# print(type(s))
# print(dir(s))

print(s.head(2))
print(s.tail(2))

print(s.ndim)
print(s.shape)
print(s.mean())
print(s.max())
print(s.min())
print(s[2])

0    3
1    2
2    0
3    1
Name: apples, dtype: int64
0    3
1    2
Name: apples, dtype: int64
2    0
3    1
Name: apples, dtype: int64
1
(4,)
1.5
3
0
0

## 2.3 DataFrames (Planilhas)

![picture](https://drive.google.com/thumbnail?id=1bhg-0pGXzCPKUXz2m6Y_gnEZdIZPvEtB&sz=w800)

In [ ]:
d = {'apples': [3, 2, 0, 1],
     'oranges': [0, 3, 7, 2]}

df = pd.DataFrame(d)
print(df)

# print(type(df))
# print(dir(df))

# print(df.ndim)
# print(df.shape)
# print(df.mean())

# print(df.mean()['apples'])

print(df.max())
print(df.min())
print(df.T)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2
apples     3
oranges    7
dtype: int64
apples     0
oranges    0
dtype: int64
         0  1  2  3
apples   3  2  0  1
oranges  0  3  7  2

In [ ]:
# d = {'apples': [3, 2, 0, 1],
#      'oranges': [0, 3, 7, 2]}

# df = pd.DataFrame(d)
# print(df)

# print(list(df.index))

# minha_lista = []
# for x in df.index:
#     minha_lista.append(x)
# print(minha_lista)

# minha_lista = [x for x in df.index]
# print(minha_lista)

# print([x for x in df.index])
# print([x for x in df.columns])

d = {'apples': {'A': 3,
                'B': 2,
                'C': 0,
                'D': 1},
     'oranges': {'A': 0,
                 'B': 3,
                 'C': 7,
                 'D': 2}}

df = pd.DataFrame(d)
print(df)

# print([x for x in df.index])
# print([x for x in df.columns])

print(list(df.index))
print(list(df.columns))

   apples  oranges
A       3        0
B       2        3
C       0        7
D       1        2
['A' 'B' 'C' 'D']
['apples', 'oranges']

## 2.4 Escrendo e lendo (.csv e .xlsx)

In [ ]:
d = {'apples': [3, 2, 0, 1],
     'oranges': [0, 3, 7, 2],
     'bananas': [1, 3, 5, 4],
     'avocados': [9, 0, 0, 1]}

df0 = pd.DataFrame(d)
print(df0)

df0.to_csv(caminho + 'output.csv',
           sep = ';',
           encoding = 'utf-8',
           header = True,
           index = False) # Escrevendo um CSV

df1 = pd.read_csv(caminho + 'output.csv',
                  sep = ';',
                  usecols = ['apples', 'bananas'],
                  encoding = 'utf-8',
                  nrows = 2) # Lendo um CSV
print(df1)

   apples  oranges  bananas  avocados
0       3        0        1         9
1       2        3        3         0
2       0        7        5         0
3       1        2        4         1
   apples  bananas
0       3        1
1       2        3

In [ ]:
df0.to_excel(caminho + 'output.xlsx', index = False)

df2 = pd.read_excel(caminho + 'output.xlsx')
df2

   apples  oranges  bananas  avocados
0       3        0        1         9
1       2        3        3         0
2       0        7        5         0
3       1        2        4         1

## 2.5 Ordenando e filtrando

In [ ]:
d = {'apples': {'A': 3, 'B': 2, 'C': 0, 'D': 1},
     'oranges': {'A': 0, 'B': 3, 'C': 7, 'D': 2},
     'bananas': {'A': 1, 'B': 3, 'C': 5, 'D': 4},
     'avocados': {'A': 9, 'B': 0, 'C': 0, 'D': 1}}

df = pd.DataFrame(d)
print(df)

   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1

In [ ]:
# print(df.sort_index(axis = 0, ascending = False))
# print(df.sort_index(axis = 1, ascending = False))

# print(df.sort_values(by = 'oranges'))
# print(df.sort_values(by = ['avocados', 'apples']))
# print(df.sort_values(by = 'oranges', axis = 0))

# print(df.sort_values(by = 'B', axis = 1))
# print(df)

# df.sort_values(by = 'B', axis = 1, inplace = True)
# print(df)

# df0 = df.sort_values(by = ['B', 'C'], axis = 1)
# print(df0)
# print(df)

   avocados  apples  bananas  oranges
A         9       3        1        0
B         0       2        3        3
C         0       0        5        7
D         1       1        4        2
   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1

In [ ]:
# cols = ['bananas', 'avocados', 'oranges', 'apples']

# df[cols]

   bananas  avocados  oranges  apples
A        1         9        0       3
B        3         0        3       2
C        5         0        7       0
D        4         1        2       1

In [ ]:
# print(df['oranges'])
# print(df['oranges']['A'])

# print(df.oranges)
# print(df.oranges[0:2])
# print(df[0:3])

df['oranges'][0] = 99
print(df)

# linha = df.loc['A']
# print(type(linha))
# print(linha)

# linhas = df.loc['B':'C', ['oranges', 'bananas']]
# print(type(linhas))
# print(linhas)

print(df.loc['B', 'oranges']) # df.at['A', 'oranges']

#print(df.iloc[3])
#p99rint(df.iloc[0:2, 0:2])

#print(df.iloc[2, 2]) # df.iat[2,2]

   apples  oranges  bananas  avocados
A       3       99        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1
3

In [ ]:
d = {'apples': {'A': 3, 'B': 2, 'C': 0, 'D': 1},
     'oranges': {'A': 0, 'B': 3, 'C': 7, 'D': 2},
     'bananas': {'A': 1, 'B': 3, 'C': 5, 'D': 4},
     'avocados': {'A': 9, 'B': 0, 'C': 0, 'D': 1}}

df = pd.DataFrame(d)

print(df)

   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1

In [ ]:
# print(df['bananas'] + df['oranges'])
# print(df)

# df['banana_oranges'] = df['bananas'] + df['oranges']
# print(df)

df['banana_oranges'] = df['bananas'] / df['oranges']
df

   apples  oranges  bananas  avocados  banana_oranges
A       3        0        1         9             inf
B       2        3        3         0        1.000000
C       0        7        5         0        0.714286
D       1        2        4         1        2.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   apples          4 non-null      int64
 1   oranges         4 non-null      int64
 2   bananas         4 non-null      int64
 3   avocados        4 non-null      int64
 4   banana_oranges  4 non-null      float64
dtypes: float64(1), int64(4)
memory usage: 192.0+ bytes

In [ ]:
df.describe()

         apples  oranges   bananas  avocados  banana_oranges
count  4.000000  4.00000  4.000000  4.000000        4.000000
mean   1.500000  3.00000  3.250000  2.500000             inf
std    1.290994  2.94392  1.707825  4.358899             NaN
min    0.000000  0.00000  1.000000  0.000000        0.714286
25%    0.750000  1.50000  2.500000  0.000000        0.928571
50%    1.500000  2.50000  3.500000  0.500000        1.500000
75%    2.250000  4.00000  4.250000  3.000000             inf
max    3.000000  7.00000  5.000000  9.000000             inf

In [ ]:
df.head(2)

   apples  oranges  bananas  avocados  banana_oranges
A       3        0        1         9             inf
B       2        3        3         0             1.0

In [ ]:
df.tail(2)

   apples  oranges  bananas  avocados  banana_oranges
C       0        7        5         0        0.714286
D       1        2        4         1        2.000000

In [ ]:
df

   apples  oranges  bananas  avocados  banana_oranges
A       3        0        1         9             inf
B       2        3        3         0        1.000000
C       0        7        5         0        0.714286
D       1        2        4         1        2.000000

## 2.6 Iterando sobre DataFrames

In [ ]:
d = {'apples': {'A': 3, 'B': 2, 'C': 0, 'D': 1},
     'oranges': {'A': 0, 'B': 3, 'C': 7, 'D': 2},
     'bananas': {'A': 1, 'B': 3, 'C': 5, 'D': 4},
     'avocados': {'A': 9, 'B': 0, 'C': 0, 'D': 1}}

df = pd.DataFrame(d)
print(df)

   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1

In [ ]:
for indice in df.index:
    print(indice, df.loc[indice, 'apples'])

# for indice in df.index:
#     print(indice, df['apples'][indice])

# for i in range(df.shape[0]):
#     print(i, df.iloc[i, 0])

for indice, linha in df.iterrows():
    print(indice, linha['apples'])

A 3
B 2
C 0
D 1
A 3
B 2
C 0
D 1

In [ ]:
d = {'brands': ['Volkswagen', 'Chevrolet', 'Toyota', 'Chevrolet', 'Renault', 'Chevrolet', 'Toyota'],
     'models': ['Fusca', 'Onix', 'Corolla', 'Prisma', 'Duster', 'Onix', 'Etios'],
     'price': [1000, 30000, 60000, 32000, 35000, 40000, 35000]}

df = pd.DataFrame(d)
print(df)

       brands   models  price
0  Volkswagen    Fusca   1000
1   Chevrolet     Onix  30000
2      Toyota  Corolla  60000
3   Chevrolet   Prisma  32000
4     Renault   Duster  35000
5   Chevrolet     Onix  40000
6      Toyota    Etios  35000

In [ ]:
print(df.groupby(['brands']).sum())

             price
brands
Chevrolet   102000
Renault      35000
Toyota       95000
Volkswagen    1000

<ipython-input-91-43a110f182cf>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df.groupby(['brands']).sum())

In [ ]:
s = df.groupby(['brands', 'models']).sum()
print(type(s))
print(list(s.index))
s['price'][('Chevrolet', 'Onix')]

<class 'pandas.core.frame.DataFrame'>
[('Chevrolet', 'Onix'), ('Chevrolet', 'Prisma'), ('Renault', 'Duster'), ('Toyota', 'Corolla'), ('Toyota', 'Etios'), ('Volkswagen', 'Fusca')]

70000

In [ ]:
#grouped = df.groupby('brands')
#print(type(grouped))
#print(dir(grouped))
#print(grouped.size())

# s=df.groupby('brands').sum()
# print(s)

#print(type(s))
#print(s.sort_values(by = 'price', ascending = False))

## 2.7 Higienização de DataFrames

In [ ]:
d = {'apples': [2, np.nan, 1, 5, 1],
     'oranges': [3, 2, 1, 3, 1],
     'grapes': [3, 2, 1, 3, 1]}

df = pd.DataFrame(d)
print(df)

   apples  oranges  grapes
0     2.0        3       3
1     NaN        2       2
2     1.0        1       1
3     5.0        3       3
4     1.0        1       1

In [ ]:
# print(df.dropna(axis = 0, how = 'any')) # Removing missing values in index direction
# print(df.dropna(axis = 1, how = 'any')) # Removing missing values in column direction
# print(df.drop_duplicates(keep = 'last')) # Removing duplicated rows (but keeping the first)

# print(df.T.drop_duplicates(keep = 'last').T) # Removing duplicated columns (but keeping the first)

# print(df.apples > 1)
# print(df[df.apples > 1]) # Removing rows with zero values on column 'apples'
print(df[df.apples > 1].reset_index(drop = True)) # ...and reseting the indexes

   apples  oranges  grapes
0     2.0        3       3
1     5.0        3       3

## 2.8 Relacionando DataFrames

![picture](https://drive.google.com/thumbnail?id=1YRUghTjQRDAoXXpKBKsSrINUJ4o_v0Z0&sz=w1200)

In [ ]:
d = {'Customer_id': pd.Series([1, 2, 3, 4, 5, 7]),
     'Product': pd.Series(['Oven', 'Oven', 'Oven', 'Television', 'Television', 'Television'])}
df0 = pd.DataFrame(d)
print(df0)

d = {'Customer_id': pd.Series([2, 4, 6]),
     'State': pd.Series(['California', 'California', 'Texas'])}
df1 = pd.DataFrame(d)
print(df1)

   Customer_id     Product
0            1        Oven
1            2        Oven
2            3        Oven
3            4  Television
4            5  Television
5            7  Television
   Customer_id       State
0            2  California
1            4  California
2            6       Texas

In [ ]:
print(pd.merge(df0, df1, on = 'Customer_id', how = 'inner')) #inner join

#print(pd.merge(df0, df1, on = 'Customer_id', how = 'outer')) #outter join
# print(pd.merge(df0, df1, on = 'Customer_id', how = 'left')) # left join
# print(pd.merge(df0, df1, on = 'Customer_id', how = 'right')) # right join

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California

# Exemplo

In [ ]:
!gdown 1iT8JPeV2K_Ps-a-CiytX5Ff5QG2qZq9s

Downloading...
From: https://drive.google.com/uc?id=15bz_HvryzxzVBbiwk3k1z-PhYrn0sxOZ
To: /content/housing.csv
100% 1.39M/1.39M [00:00<00:00, 131MB/s]

In [ ]:
df = pd.read_csv('housing.csv', sep = ';')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

# Referências

[1] <a> https://docs.python.org/pt-br/3/tutorial/</a>

[2] <a> https://pandas.pydata.org/</a>

[3] Joel Grus. Data science from scratch: first principles with python. O'Reilly Media, 2019.