# X552 - Introdução a Programação com Python

Prof. Erneson Alves de Oliveira<br>
MBA em Ciência de Dados<br>
Universidade de Fortaleza

# 1 Entrada e saída

## 1.1 Saída

In [1]:
with open('teste.txt', 'w') as arquivo:  #O parâmetro 'w' para usar a função open na forma de write
    arquivo.write('a b\n')
    arquivo.write('c d')

## 1.2 Entrada

In [2]:
with open('teste.txt', 'r') as arquivo:  #O Parâmetro 'r' para usar a função open na forma de read  
    for i, linha in enumerate(arquivo):
        campo = linha.split()
        print(i, campo[0], campo[1])

0 a b
1 c d

### 1.2.1 Usando o gdown

In [ ]:
#!gdown 1iT8JPeV2K_Ps-a-CiytX5Ff5QG2qZq9s   # comando para ser usado no collab para baixar um arquivo compartilha no google drive

## 1.3 Entrada e saída (Google Drive)

In [ ]:
# from google.colab import drive    # código para montar o google drive no collab
# drive.mount('/content/drive')

### 1.3.1 Saída

In [ ]:
caminho = '/content/drive/MyDrive/Cadeiras/MBA_DATASCIENCE/X552_IaPcP/aulas/a02/resultados/'

with open(caminho + 'teste.txt', 'w') as f:
  f.write('e f\n')
  f.write('g h')

### 1.3.2 Entrada

In [ ]:
with open(caminho + 'teste.txt', 'r') as arquivo:
    for linha in arquivo:
        campo = linha.split()
        print(campo[0], campo[1])

# 2. Introdução ao Pandas

![picture](https://drive.google.com/thumbnail?id=1eQPf7oMPHElSHCv9w-BpBEr8jpNTFniS&sz=w600)

https://pandas.pydata.org

## 2.1 O que é Pandas?

Pandas é um módulo para manipulação de tabelas (planilhas).

![picture](https://drive.google.com/thumbnail?id=1yFMQGto3RTkRFQxx9wX7TGEO1Pni9OJY&sz=w400)

## 2.2 Séries

![picture](https://drive.google.com/thumbnail?id=1krgr7CPvTyzA_GBciqvocWZWx-A8h3f7&sz=w300)

In [4]:
import pandas as pd
import numpy as np

apples = [3, 2, 0, 1]
s = pd.Series(apples,
              name = 'apples',
              dtype = np.int64)

print(s)
# print(type(s))
# print(dir(s))

print(s.head(2)) #primeiros
print(s.tail(2)) #últimos

print(s.ndim) #nº de dimensões
print(s.shape)
print(s.mean())
print(s.max())
print(s.min())
print(s[2])

0    3
1    2
2    0
3    1
Name: apples, dtype: int64
0    3
1    2
Name: apples, dtype: int64
2    0
3    1
Name: apples, dtype: int64
1
(4,)
1.5
3
0
0

## 2.3 DataFrames (Planilhas)

![picture](https://drive.google.com/thumbnail?id=1bhg-0pGXzCPKUXz2m6Y_gnEZdIZPvEtB&sz=w800)

In [12]:
d = {'apples': [3, 2, 0, 1],
     'oranges': [0, 3, 7, 2]}

df = pd.DataFrame(d)
df
print(df)

print(type(df))
print(dir(df))

print('Nº de dimensões: %s' % str(df.ndim))
print('Tamanho do DataFrame: %s' % str(df.shape))
print(df.mean())

print('Média apples %s' % (df.mean()['apples']))

print(df.max())
print(df.min())
print(df.T)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2
<class 'pandas.core.frame.DataFrame'>
['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_sliced', '_create_data_for_split_and_tight_to_dict', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_getitem_nocopy', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_dict_of_blocks', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apples', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'oranges', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']
Nº de dimensões: 2
Tamanho do DataFrame: (4, 2)
apples     1.5
oranges    3.0
dtype: float64
Média apples 1.5
apples     3
oranges    7
dtype: int64
apples     0
oranges    0
dtype: int64
         0  1  2  3
apples   3  2  0  1
oranges  0  3  7  2

In [15]:
# d = {'apples': [3, 2, 0, 1],
#      'oranges': [0, 3, 7, 2]}

# df = pd.DataFrame(d)
# print(df)

# print(list(df.index))

# minha_lista = []
# for x in df.index:
#     minha_lista.append(x)
# print(minha_lista)

# minha_lista = [x for x in df.index]
# print(minha_lista)

# print([x for x in df.index])
# print([x for x in df.columns])

d = {'apples': {'A': 3,
                'B': 2,
                'C': 0,
                'D': 1},
     'oranges': {'A': 0,
                 'B': 3,
                 'C': 7,
                 'D': 2}}

df = pd.DataFrame(d)
print(df)

# print([x for x in df.index])
# print([x for x in df.columns])

print(list(df.index))
print(list(df.columns))

   apples  oranges
A       3        0
B       2        3
C       0        7
D       1        2
['A', 'B', 'C', 'D']
['apples', 'oranges']

In [16]:
df

   apples  oranges
A       3        0
B       2        3
C       0        7
D       1        2

## 2.4 Escrendo e lendo (.csv e .xlsx)

In [ ]:
d = {'apples': [3, 2, 0, 1],
     'oranges': [0, 3, 7, 2],
     'bananas': [1, 3, 5, 4],
     'avocados': [9, 0, 0, 1]}

df0 = pd.DataFrame(d)
print(df0)

df0.to_csv(caminho + 'output.csv',
           sep = ';',
           encoding = 'utf-8',
           header = True,
           index = False) # Escrevendo um CSV

df1 = pd.read_csv(caminho + 'output.csv',
                  sep = ';',
                  usecols = ['apples', 'bananas'],
                  encoding = 'utf-8',
                  nrows = 2) # Lendo um CSV
print(df1)

   apples  oranges  bananas  avocados
0       3        0        1         9
1       2        3        3         0
2       0        7        5         0
3       1        2        4         1
   apples  bananas
0       3        1
1       2        3

In [ ]:
df0.to_excel(caminho + 'output.xlsx', index = False)

df2 = pd.read_excel(caminho + 'output.xlsx')
df2

   apples  oranges  bananas  avocados
0       3        0        1         9
1       2        3        3         0
2       0        7        5         0
3       1        2        4         1

## 2.5 Ordenando e filtrando

In [17]:
d = {'apples': {'A': 3, 'B': 2, 'C': 0, 'D': 1},
     'oranges': {'A': 0, 'B': 3, 'C': 7, 'D': 2},
     'bananas': {'A': 1, 'B': 3, 'C': 5, 'D': 4},
     'avocados': {'A': 9, 'B': 0, 'C': 0, 'D': 1}}

df = pd.DataFrame(d)
print(df)

   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1

In [25]:
print(df.sort_index(axis = 0, ascending = False)) # axis = 0 colunas
print(df.sort_index(axis = 1, ascending = False)) # axis = 1 linhas
print(df)
# print(df.sort_values(by = 'oranges'))
# print(df.sort_values(by = ['avocados', 'apples']))
# print(df.sort_values(by = 'oranges', axis = 0))

# print(df.sort_values(by = 'B', axis = 1))
# print(df)

# df.sort_values(by = 'B', axis = 1, inplace = True)
# print(df)

# df0 = df.sort_values(by = ['B', 'C'], axis = 1)
# print(df0)
# print(df)

   apples  oranges  bananas  avocados
D       1        2        4         1
C       0        7        5         0
B       2        3        3         0
A       3        0        1         9
   oranges  bananas  avocados  apples
A        0        1         9       3
B        3        3         0       2
C        7        5         0       0
D        2        4         1       1
   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1

In [ ]:
# cols = ['bananas', 'avocados', 'oranges', 'apples']

# df[cols]

   bananas  avocados  oranges  apples
A        1         9        0       3
B        3         0        3       2
C        5         0        7       0
D        4         1        2       1

In [ ]:
# print(df['oranges'])
# print(df['oranges']['A'])

# print(df.oranges)
# print(df.oranges[0:2])
# print(df[0:3])

df['oranges'][0] = 99
print(df)

# linha = df.loc['A']
# print(type(linha))
# print(linha)

# linhas = df.loc['B':'C', ['oranges', 'bananas']]
# print(type(linhas))
# print(linhas)

print(df.loc['B', 'oranges']) # df.at['A', 'oranges']

#print(df.iloc[3])
#p99rint(df.iloc[0:2, 0:2])

#print(df.iloc[2, 2]) # df.iat[2,2]

   apples  oranges  bananas  avocados
A       3       99        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1
3

In [ ]:
d = {'apples': {'A': 3, 'B': 2, 'C': 0, 'D': 1},
     'oranges': {'A': 0, 'B': 3, 'C': 7, 'D': 2},
     'bananas': {'A': 1, 'B': 3, 'C': 5, 'D': 4},
     'avocados': {'A': 9, 'B': 0, 'C': 0, 'D': 1}}

df = pd.DataFrame(d)

print(df)

   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1

In [ ]:
# print(df['bananas'] + df['oranges'])
# print(df)

# df['banana_oranges'] = df['bananas'] + df['oranges']
# print(df)

df['banana_oranges'] = df['bananas'] / df['oranges']
df

   apples  oranges  bananas  avocados  banana_oranges
A       3        0        1         9             inf
B       2        3        3         0        1.000000
C       0        7        5         0        0.714286
D       1        2        4         1        2.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   apples          4 non-null      int64
 1   oranges         4 non-null      int64
 2   bananas         4 non-null      int64
 3   avocados        4 non-null      int64
 4   banana_oranges  4 non-null      float64
dtypes: float64(1), int64(4)
memory usage: 192.0+ bytes

In [ ]:
df.describe()

         apples  oranges   bananas  avocados  banana_oranges
count  4.000000  4.00000  4.000000  4.000000        4.000000
mean   1.500000  3.00000  3.250000  2.500000             inf
std    1.290994  2.94392  1.707825  4.358899             NaN
min    0.000000  0.00000  1.000000  0.000000        0.714286
25%    0.750000  1.50000  2.500000  0.000000        0.928571
50%    1.500000  2.50000  3.500000  0.500000        1.500000
75%    2.250000  4.00000  4.250000  3.000000             inf
max    3.000000  7.00000  5.000000  9.000000             inf

In [ ]:
df.head(2)

   apples  oranges  bananas  avocados  banana_oranges
A       3        0        1         9             inf
B       2        3        3         0             1.0

In [ ]:
df.tail(2)

   apples  oranges  bananas  avocados  banana_oranges
C       0        7        5         0        0.714286
D       1        2        4         1        2.000000

In [ ]:
df

   apples  oranges  bananas  avocados  banana_oranges
A       3        0        1         9             inf
B       2        3        3         0        1.000000
C       0        7        5         0        0.714286
D       1        2        4         1        2.000000

## 2.6 Iterando sobre DataFrames

In [ ]:
d = {'apples': {'A': 3, 'B': 2, 'C': 0, 'D': 1},
     'oranges': {'A': 0, 'B': 3, 'C': 7, 'D': 2},
     'bananas': {'A': 1, 'B': 3, 'C': 5, 'D': 4},
     'avocados': {'A': 9, 'B': 0, 'C': 0, 'D': 1}}

df = pd.DataFrame(d)
print(df)

   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1

In [ ]:
for indice in df.index:
    print(indice, df.loc[indice, 'apples'])

# for indice in df.index:
#     print(indice, df['apples'][indice])

# for i in range(df.shape[0]):
#     print(i, df.iloc[i, 0])

for indice, linha in df.iterrows():
    print(indice, linha['apples'])

A 3
B 2
C 0
D 1
A 3
B 2
C 0
D 1

In [ ]:
d = {'brands': ['Volkswagen', 'Chevrolet', 'Toyota', 'Chevrolet', 'Renault', 'Chevrolet', 'Toyota'],
     'models': ['Fusca', 'Onix', 'Corolla', 'Prisma', 'Duster', 'Onix', 'Etios'],
     'price': [1000, 30000, 60000, 32000, 35000, 40000, 35000]}

df = pd.DataFrame(d)
print(df)

       brands   models  price
0  Volkswagen    Fusca   1000
1   Chevrolet     Onix  30000
2      Toyota  Corolla  60000
3   Chevrolet   Prisma  32000
4     Renault   Duster  35000
5   Chevrolet     Onix  40000
6      Toyota    Etios  35000

In [ ]:
print(df.groupby(['brands']).sum())

             price
brands
Chevrolet   102000
Renault      35000
Toyota       95000
Volkswagen    1000

<ipython-input-91-43a110f182cf>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df.groupby(['brands']).sum())

In [ ]:
s = df.groupby(['brands', 'models']).sum()
print(type(s))
print(list(s.index))
s['price'][('Chevrolet', 'Onix')]

<class 'pandas.core.frame.DataFrame'>
[('Chevrolet', 'Onix'), ('Chevrolet', 'Prisma'), ('Renault', 'Duster'), ('Toyota', 'Corolla'), ('Toyota', 'Etios'), ('Volkswagen', 'Fusca')]

70000

In [ ]:
#grouped = df.groupby('brands')
#print(type(grouped))
#print(dir(grouped))
#print(grouped.size())

# s=df.groupby('brands').sum()
# print(s)

#print(type(s))
#print(s.sort_values(by = 'price', ascending = False))

## 2.7 Higienização de DataFrames

In [ ]:
d = {'apples': [2, np.nan, 1, 5, 1],
     'oranges': [3, 2, 1, 3, 1],
     'grapes': [3, 2, 1, 3, 1]}

df = pd.DataFrame(d)
print(df)

   apples  oranges  grapes
0     2.0        3       3
1     NaN        2       2
2     1.0        1       1
3     5.0        3       3
4     1.0        1       1

In [ ]:
# print(df.dropna(axis = 0, how = 'any')) # Removing missing values in index direction
# print(df.dropna(axis = 1, how = 'any')) # Removing missing values in column direction
# print(df.drop_duplicates(keep = 'last')) # Removing duplicated rows (but keeping the first)

# print(df.T.drop_duplicates(keep = 'last').T) # Removing duplicated columns (but keeping the first)

# print(df.apples > 1)
# print(df[df.apples > 1]) # Removing rows with zero values on column 'apples'
print(df[df.apples > 1].reset_index(drop = True)) # ...and reseting the indexes

   apples  oranges  grapes
0     2.0        3       3
1     5.0        3       3

## 2.8 Relacionando DataFrames

![picture](https://drive.google.com/thumbnail?id=1YRUghTjQRDAoXXpKBKsSrINUJ4o_v0Z0&sz=w1200)

In [ ]:
d = {'Customer_id': pd.Series([1, 2, 3, 4, 5, 7]),
     'Product': pd.Series(['Oven', 'Oven', 'Oven', 'Television', 'Television', 'Television'])}
df0 = pd.DataFrame(d)
print(df0)

d = {'Customer_id': pd.Series([2, 4, 6]),
     'State': pd.Series(['California', 'California', 'Texas'])}
df1 = pd.DataFrame(d)
print(df1)

   Customer_id     Product
0            1        Oven
1            2        Oven
2            3        Oven
3            4  Television
4            5  Television
5            7  Television
   Customer_id       State
0            2  California
1            4  California
2            6       Texas

In [ ]:
print(pd.merge(df0, df1, on = 'Customer_id', how = 'inner')) #inner join

#print(pd.merge(df0, df1, on = 'Customer_id', how = 'outer')) #outter join
# print(pd.merge(df0, df1, on = 'Customer_id', how = 'left')) # left join
# print(pd.merge(df0, df1, on = 'Customer_id', how = 'right')) # right join

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California

# Exemplo

In [ ]:
!gdown 1iT8JPeV2K_Ps-a-CiytX5Ff5QG2qZq9s

Downloading...
From: https://drive.google.com/uc?id=15bz_HvryzxzVBbiwk3k1z-PhYrn0sxOZ
To: /content/housing.csv
100% 1.39M/1.39M [00:00<00:00, 131MB/s]

In [ ]:
df = pd.read_csv('housing.csv', sep = ';')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

# Referências

[1] <a> https://docs.python.org/pt-br/3/tutorial/</a>

[2] <a> https://pandas.pydata.org/</a>

[3] Joel Grus. Data science from scratch: first principles with python. O'Reilly Media, 2019.